.app {
	background-image: linear-gradient(red, yellow);
}

.title {
	text-align: center;
}

.emoji-box {
	display: flex;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
}

.background {
	background-color: "#f8f8f8";
}

.emoji-box-title {
	font-family: sans-serif;
	text-align: center;
}

.copy-button {
	border-radius: 4px;
	cursor: pointer;
}

.copybutton:hover {
	background-color: darkgrey;
}
